<!DOCTYPE html>
<html>
  <head>
    <title>Gazebo</title>
    <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="titleBar">
      <%= link_to(image_tag("gazebo.png", height: "75px", width: "75px"), main_app.root_path, class: "icon")%>
      <p id="user">
        <% if user_signed_in? %>
          <!-- If user is signed in, we display their name -->
          <%= link_to "Welcome back, #{current_user.nickname}" + " " + "#{current_user.lname}", main_app.account_account_path %>
        <% else %>
          <!-- Else, we give the option to allow them to join or create community -->
          <%= link_to 'Welcome, join a community!', account_join_path %>
        <%end%>
      </p>
      <div class="nav">
        <ul>
          <% if user_signed_in? %>
          <li><%= link_to 'Home', main_app.root_path%></li>
          <li>|</li>

          <li><%= link_to 'Forums', forem.forums_path %>  </li>

          <li>|</li>
          <li><%= link_to "Inbox", mailbox_inbox_path %></li>

          <li>|</li>
          <li><%= link_to 'Log out', main_app.destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Home', main_app.root_path%></li>
          <li>|</li>
          <li><%= link_to 'Log In', new_user_session_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="titleSpace"></div>

    <div class="left">
      <h2>News:</h2>
      <ul>
        <li>Mr. Jones lost his cat.</li>
        <li>Bake sale on Saturday</li>
      </ul>
    </div>
    <div class="leftSpace"></div>
    <div class="center">
        <div id="alertTicker" class="none">,
          <marquee>
              <h2></h2>
          </marquee>
          <a href="#" onclick="document.getElementById('alertTicker').className = 'none';" class="close">
            <!--%= image_tag("close.png", height: "25px", width: "25px")%-->x
          </a>
        </div>
      <%= yield %>

    </div>

    <div class="right">
      <h2>All 3 of your friends:</h2>
      <ul>
        <li>Jim</li>
        <li>Sue</li>
        <li>Sue's Sister</li>
      </ul>
    </div>
  </body>
</html>
