<h1>Welcome to Gazebo</h1>

<p>
	Gazebo is a social media website which focusses on your neighborhood.  Anything from lost items or yard sales to your favorite sports or computers can be talked about.
</p>

<% if user_signed_in? %>
<% else %>
	<p>
		Why don't you <%= link_to 'sign up', account_accttype_path, :data => { :no_turbolink => true }%> and poke around.  We're sure you'll enjoy your stay.
	</p>
<% end %>

<span class="footerSend">~ The Management</span>