<!-- STYLED -->



<div id='forum'>
	<h1><%= forum.title %></h1>
	<div class="row">
	</div>
	<div id='forum_topic_links' class='btn-group btn-group-default btn-group-xs'>
		<% unless @topic.try(:new_record?) %>
			<% if can? :create_topic, @forum %>
				<%= link_to t('forem.topic.links.new'), forem.new_forum_topic_path(forum), :class => "btn btn-default btn -sm", :id => "new-topic" %>
			<% end %>
		<% end %>
		<% if can? :moderate, @forum %>
			<!--%= link_to t('forem.forum.moderator_tools'), forem.forum_moderator_tools_path(forum), :class => "btn btn-default" %-->
		<% end %>
	</div>
</div>
