<div id='forums_container'>
  <!-- h1 id='forums_title'>< %= t('.title') %></h1 -->
  <% @categories = Forem::Category.where(:name => current_user.neighborhood_id) %>
  <%= render @categories %>
</div>

<br>
<footer id='admin_link'>
  <% if forem_admin? %>
    <!--%= link_to t("area", :scope => "forem.admin"), forem.admin_root_path, :id => "formAdmin" %-->
  <% end %>
</footer>
