<div class='forum'>
  <%= render :partial => 'forem/forums/head', :locals => { :forum => @forum } %>

  <%= forem_pages_widget(@topics) %>
  <table class='topics table-striped table' cellspacing='0'>
    <col width="80%">
    <col width="10%">
    <col width="10%">
    <thead>
      <tr>
        <!--th class="icon"></th-->
        <th class="byline"><%= t('forem.topic.headings.topic') -%></th>
        <!--th class="latest-post text-center"><%= t('forem.topic.headings.latest') -%></th-->
        <th class="posts-count text-center"><%= t('forem.topic.headings.posts') -%></th>
        <th class="views-count text-center"><%= t('forem.topic.headings.views') -%></th>
      </tr>
    </thead>
    <tbody>
      <% if @topics.empty? %>
        <tr><td colspan='3' align='center'><%= t('forem.topic.none') %></td></tr>
      <% end %>
      <%= render @topics %>
    </tbody>
  </table>
  <%= forem_pages_widget(@topics) %>
</div>