h1
{
    padding: 15px;
    margin: 15px;
    width: auto;

    border-style: solid;
    border-color: #555;
    border-width: 0px 0px 1px 0px;
}

.content
{
  text-align: left;
  padding: 0px 30px;

  p
  {
    padding: 0px 15px;
  }

  a
  {
    text-decoration: none;
    color: #ff6400;
    padding: 5px 30px;

    transition: all .2s linear;
  }

  a:hover
  {
    background-color: #ff6400;
    color: white;

    transition: all .1s linear;
  }

  #edit
  {
    position: absolute;
    bottom: 25px;
  }
}
