/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body
{
	padding: 0px;
	margin: 0px;
	//overflow: hidden;
	background-color: #eee;
    font-family: sans-serif;
}

a
{
    padding: 0;
    margin: 0;
}

.icon
{
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
    width: 17%;
    height: 75px;
	float: left;
  border-style: solid;
  border-width: 0px;
  border-color: #ff6400;

    background-image: linear-gradient(to top,
                                      transparent,
                                      transparent 50%,
                                      #ff6400 50%,
                                      #ff6400);
    background-position: 100% 0px;
    background-size: 100% 200%;
    transition: all .2s linear;
}

.title:hover .icon
{
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #333;
    margin-bottom: -28px;
    
    height: 100px;
    transition: all .1s linear;
}

.title:hover .icon:hover
{
    border-width: 0px 0px 3px 0px;
    background-color: #555;
    border-color: #555;

    background-position: 0% 100%;
    transition: all .1s linear;
}

.icon img
{
    width: 75px;
    position: relative;
    left: 50%;
    margin: 0px 0px 0px -38px;
    padding: 0px;
    
    transition: all .2s linear .1s;
}

.title:hover img
{
    width: 100px;
    height: 100px;
    margin-left: -50px;
    
    transition: all .1s linear;
}

.title:hover
{
    height: 100px;
    transition: all .1s linear;
}

.title:hover .nav
{
    visibility: visible;
    opacity: 1;

    transition: all .1s linear;
}

.title:hover + .titleSpace
{
	height: 100px;

	transition: all .1s linear;
}

.nav
{
    width: 100%;
    position: relative;
    top: -1px;
    visibility: hidden;
    text-align: center;
    clear: both;
    padding: 0px;
    margin-top: -15px;
    height: 25px;
    opacity: 0;

    //transition: all .2s linear;
}

.nav ul
{
    list-style: none;
}

.nav li
{
    display: inline;
}

.nav li a
{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 7px 25px;
    margin: 0px;
    opacity:0;
    background-color: #ff6400;
    transition: all .1s linear;
}

.title:hover .nav li a
{
    /*text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 7px 25px;*/
    opacity:1;

    background-image: linear-gradient(to top,
                                      transparent,
                                      transparent 50%,
                                      #ff6400 50%,
                                      #ff6400);
    background-position: 100% 0px;
    background-size: 100% 200%;
    transition: all .1s linear .1s;
}

.title:hover .nav li a:hover
{
    background-color: #555;

    background-position: 0% 100%;
    transition: all .1s linear;
}

h1
{
	padding: 15px 75px;
	margin: 0px;
	float: left;
}

#user
{
	float: right;
	padding: 15px 75px;
    margin: 15px 0px 0px 0px;
}

#user a
{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 10px;

    background-image: linear-gradient(to right,
                                      transparent,
                                      transparent 50%,
                                      #ff6400 50%,
                                      #ff6400);
    background-position: 100% 0%;
    background-size: 200% 100%;
    transition: all .2s linear;
}

#user a:hover
{
	background-color: #555;

    background-position: 0% -100%;
    transition: all .1s linear;
}

.title
{
	color: #fff;
	background-color: #ff6400;
	height: 75px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: fixed;
	Z-index: 9;
	border-style: solid;
	border-width: 0px 0px 3px 0px;
	border-color: #333;

    transition: all .2s linear .1s;
}

.titleSpace
{
	height: 75px;
	margin: 0px 0px 3px 0px;
	padding: 0px;

	transition: all .2s linear .1s;
}

.left
{
	height: 100%;
	width: 15%;
	//background-color: #f83;
	background-color: #555;
    margin: 0px;
	padding: 0% 1%;
	position: fixed;
	color: #fff;
}

.leftSpace
{
	height: 100%;
	width: 15%;
	margin: 0px;
	padding: 0% 1%;
	float: left;
}

.center
{
	float: left;
	height: 100%;
    width: 80%;
	padding: 0px;
    margin: 0px;
    margin-left: 18%;
	color: #555;
	//overflow: auto;
}

.center:after
{
    content: "";
    height: 250px;
    width: 82%;
    float: left;
    margin: 0px;
    padding: 0px;
}

#alert
{
  background-color: rgba(255,136,51,.5);
	padding: 10px 25px;
	width: 80%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#alert marquee
{
	width: 90%;
	padding-right: 17px;
}

#alert h2
{
	padding: 0px;
	margin: 0px;
}

.potus marquee h2:before
{
	color: red;
	content: "!!! POTUS ALERT !!!";
	padding: 0px 75px 0px 0px;
	margin: 0px;
}

.potus marquee h2:after
{
	color: red;
	content: "!!! POTUS ALERT !!!";
	padding: 0px 0px 0px 75px;
	margin: 0px;
}

.amber marquee h2:before
{
	color: red;
	content: "--- AMBER ALERT ---";
	padding: 0px 75px 0px 0px;
	margin: 0px;
}

.amber marquee h2:after
{
	color: red;
	content: "--- AMBER ALERT ---";
	padding: 0px 0px 0px 75px;
	margin: 0px;
}

.weather marquee h2:before
{
	color: red;
	content: "Severe Weather --";
	padding: 0px 75px 0px 0px;
	margin: 0px;
}

.weather marquee h2:after
{
	color: red;
	content: "-- Severe Weather";
	padding: 0px 0px 0px 75px;
	margin: 0px;
}

.close
{
	background-color: #555;
	color: #eee;
	border-radius: 5px;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bolder;
	padding: 5px 10px;
	margin: 0px;
	float: right;

	transition: all .2s linear;
}

.close:hover
{
    color: #ff6400;
	background-color: #333;
	border-radius: 0px;

	transition: all .1s linear;
}

.right
{
    position: fixed;
    z-index: 5;
    right: -15%;
    height: 100%;
    width: 15%;
    color: #fff;
    background-color: rgba(255,136,51,.5);
    margin: 0px;
    padding: 0% 1%;

    transition: all .2s linear;
}

.right:hover
{
    background-color: rgba(255,136,51,.75);
    right: 0px;
    transition: all .1s linear;
}

.right *
{
    visibility: hidden;
    opacity: 0;
}

.right:hover *
{
    visibility: visible;
    opacity: 1;
}

/*.post
{
	width: 300px;
	//height: 200px;
	background-color: #fff;
	padding: 15px;
	margin: 15px;
	position:relative;
  top: 0px;
  left: 0px;
	box-shadow: 3px 3px 5px -2px rgba(0,0,0,.6);
	background: linear-gradient(135deg, transparent 10px, #fff 0px) top left;
	overflow:hidden;
	float: left;
}

.post:before
{
    content:"";
    position:absolute;
		z-index: 2;
    top:-1px;
    left:-1px;
    border-width:0px 0px 16px 16px;
    border-style:solid;
    border-color:#ddd rgba(0,0,0,0);
	box-shadow: 1px 1px 3px -1px rgba(0,0,0,.4);
}

.post h3
{
	padding: 0px;
	background-color: #fff;
}

.post p
{
	padding-left: 25px;
}*/



























.none
{
	display: none;
}
