.simple-calendar
{
    
    .calTitle
    {
        text-align: right;
        padding: 0px 50px;
        margin: 0px;
        
        margin-bottom: 15px;
    }
    
    a
    {
        color: #333;
        text-decoration: none;
        
        transition: all .2s linear 0s;
    
        &:hover
        {
            color: #f60;

            transition: all .1s linear 0s;
        }
    }
    
    table
    {
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-vertical-spacing: 0px;
        background-color: #fff;
        //border-collapse: collapse;
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        border-style: solid;
        border-color: #555;
        border-width: 1px;
    }

    tr
    {
        //border-collapse: collapse;
    }

    thead
    {
        tr
        {
            th
            {
                padding: 6px;
                box-sizing: border-box;
                text-align: left;
                //border-collapse: collapse;
                border-style: solid;
                border-color: #555;
                border-width: 0px 1px 2px 1px;
                background-color: #ccc;
            }
        }
    }

    td
    {
        padding: 6px;
        vertical-align: top;
        width: 14%;
        border-style: solid;
        border-color: #555;
        border-width: 1px;
    }

    .day
    {
        height: 80px;
        padding: 0px;
        padding-bottom: 5px;

        transition: all .2s linear 0s;

        .calDate, .calDate:focus
        {
            padding: 3px 5px;
            font-weight: normal;
            text-decoration: none;
            color: #333;

            transition: all .2s linear 0s;
        }

        .eventHolder
        {
            width: 100%;
            padding: 0px;
            margin: 0px;


            .calEvent, .calEvent:focus
            {
                text-decoration: none;
                width: 100%;
                display: inline-block;
                padding: 0px 5px;
                margin: 5px 0px 0px 0px;

                background-color: #eee;
                border-style: solid;
                border-color: #555;
                border-width: 1px 0px;

                transition: all .2s linear 0s;
            }

            .eventHover, .eventHover:focus
            {
                color: #fff;
                background-color: #f60;
                border-color: #333;

                transition: all .1s linear 0s;
            }
        }
    }
	
	.day:hover
	{
		background-color: #ccc;
		
		transition: all .1s linear 0s;
		
		.calDate
		{
			text-decoration: underline;
			
			transition: all .1s linear 0s;
		}
		
		.calDate:hover
		{
			background-color: #333;
			color: #eee;
			cursor: pointer;
			
			transition: all .2s linear 0s;
		}
	}

    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}

    .today
    {
        background: #ccc;
    }

    .past{}
    .future {}

    .start-date {}

    .prev-month
    {
        background: #ddd;
    }
    
    .next-month
    {
        background: #ddd;
    }
    
    .current-month {}

    .has-events {}
}

.modal:before
{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal
{
    text-align: center;
    padding: 0 !important;

    .modal-dialog
    {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        border-radius: 5px;

        background-color: #eee;
        color: #333;

        .modal-header
        {
            border-color: #ddd;
        }

        .modal-description
        {
            padding: 15px;

            p
            {
                margin-top: 15px;
            }
        }

        .modal-footer
        {
            border-color: #ddd;
        }
    }
}

































