.category
{
    a
    {
        color: #333;
        text-decoration: none;
        
        transition: all .2s linear 0s;
        
        &:hover
        {
            color: #f60;
            text-decoration: none;
            
            transition: all .1s linear 0s;
        }
    }
}

#formAdmin
{
    float: right;
    text-decoration: none;
    color: #ff6400;
    padding: 5px 15px;
    margin: 0px 0px 15px 15px;

    transition: all .2s linear;

    &:hover
    {
    background-color: #ff6400;
    color: #fff;

    transition: all .1s linear;
    }
}