// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.alert
{
  background-color: #ccc;
  width: 97%;

  h2
  {
    background-color: #aaa;
    border-style: solid;
    border-color: #555;
    border-width: 0px 0px 1px 0px;
    padding: 10px 30px;
  }

  .alertClose
  {
  	background-color: #555;
  	color: #aaa;
  	border-radius: 5px;
  	text-decoration: none;
  	font-family: sans-serif;
  	font-weight: bolder;
  	padding: 5px 10px;
  	margin: -60px 15px 0px 0px;
  	float: right;

  	transition: all .2s linear;
  }

  .alertClose:hover
  {
    color: #ff6400;
  	border-radius: 0px;

  	transition: all .1s linear;
  }

  p
  {
    padding: 5px 45px;
  }

  .footer
  {
    padding: 0px 30px 15px 30px;
  }

  #alertPoster
  {
    float: right;
    text-decoration: none;
    color: #ff6400;
    padding: 5px 15px;
    margin-top: -5px;

    transition: all .2s linear;
  }

  #alertPoster:hover
  {
    background-color: #ff6400;
    color: #fff;

    transition: all .1s linear;
  }
}
