<div class="row first">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-body">
	      <%= link_to "New Message", new_conversation_path, class: "btn btn-default btn-md", "role" => "link"%>
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
	<% if is_conversation %>
		<%= render 'conversations/form' %>
	<% else %>
		<%= render partial: 'conversations/conversation', collection: messages %>
	<% end %>
      </div>
    </div>
  </div>

</div>
