<ul class="inboxFunctions">
	<li title="Inbox">
	    <%= link_to mailbox_inbox_path do  %>
		 <!-- %=unread_messages_count%> This Displays how many mails -->
		<span class="glyphicon glyphicon-inbox"></span> Inbox
	    <% end %>
	</li>
	<li title="Sent">
	    <%= link_to mailbox_sent_path do %>
		<span class="glyphicon glyphicon-send"></span> Sent
	    <% end %>
	</li>
	<li title="Trash">
	    <%= link_to mailbox_trash_path do %>
		<span class="glyphicon glyphicon-trash"></span> Trash
	    <% end %>
	</li>
</ul>
