<h1>Account Type</h1>
<div class="row typeGlyph">
    <div class="col-xs-6">
        <%= link_to new_registration_path(:user), :data => { :no_turbolink => true } do %>
            <span class="glyphicon glyphicon-user" title="User"></span>
        <% end %>
    </div>
    <div class="col-xs-6">
        <span class="glyphicon glyphicon-briefcase" title="Business"></span>
    </div>
</div>