<tr class="topic <%= cycle('odd', 'even') %> <%= topic.locked? ? 'locked' : 'unlocked' %>">
        <td class='icon'>
        <% if topic.locked? %>
          <span class='lock icon'></span>
        <% end %>
        <% if topic.pinned? %>
          <span class='pin icon'></span>
        <% end %>
        <% if topic.hidden? %>
          <span class='hidden icon'></span>
        <% end %>
        <% if forem_user && view = topic.view_for(forem_user) %>
          <% if topic.posts.exists?(["created_at > ?", view.updated_at]) %>
            <span class='new_posts icon'>new</span>
          <% end %>
        <% end %>
        </td>
        <td class='byline'>
            <%= new_since_last_view_text(topic) %>

            <%= link_to forem.forum_topic_path(@forum, topic) do %>
                <div class='subject'>
                    <%= forem_emojify(topic.subject) %>
                </div>
                <div class="started-by">
                    <label>&#9492 </label>
                    <%= relevant_posts(topic).first.user.forem_name %>
                </div>
            <% end %>
        </td>
        <!--td class='latest-post text-center'>
            <%= link_to_latest_post(topic) -%>
        </td-->
        <td class='posts-count text-center'><%= relevant_posts(topic).count %></td>
        <td class='views-count text-center'><%= topic.views_count %></td>
</tr>