<h2>Edit my Gazebo Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :first_name %><br/>
    <%= f.text_field :fname, class: 'form-control', autofocus: true  %>
  </div>
  <div class="form-group">
    <%= f.label :Middle_Name %><br/>
    <%= f.text_field :mname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Last_name %><br/>
    <%= f.text_field :lname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nickname %><br/>
    <%= f.text_field :nickname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br/>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :city %><br/>
    <%= f.text_field :city, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :zip %><br/>
    <%= f.text_field :zip, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true %>
  </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
