<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="form-group">
  <%= f.label :first_name %><br/>
  <%= f.text_field :fname, class: 'form-control', autofocus: true  %>
</div>
<div class="form-group">
  <%= f.label :Middle_Name %><br/>
  <%= f.text_field :mname, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :Last_name %><br/>
  <%= f.text_field :lname, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :nickname %><br/>
  <%= f.text_field :nickname, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :address %><br/>
  <%= f.text_field :address, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :city %><br/>
  <%= f.text_field :city, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :zip %><br/>
  <%= f.text_field :zip, class: 'form-control' %>
</div>
<div class="form-group">
<%= f.label "Select a Community:" %><br/>
<%= f.collection_select(:neighborhood_id, Neighborhood.all, :id, :name, { class: 'form-control' }) %>
</div>
<div class="field">
  <%= f.label :email %><br/>
  <%= f.email_field :email%>
</div>
<div class="field">
</div>
<div class="field">
  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %>
    characters minimum)</em>
  <% end %><br/>
  <%= f.password_field :password, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>

<div class="actions">
  <%= f.submit "Sign up" %>
</div>
<% end %>

<%= render "devise/shared/links" %>
