<h2>Create a Neighborhood</h2>

<% if notice %>
  <p class='notice'><%= notice %></p>
<% end %>
<%= form_for @neighborhood do |f| %>
<div class="form-group">
  <%= f.label :Neighborhood_Name %><br/>
  <%= f.text_field :name, class: 'form-control', autofocus: true  %>
</div>
<div class="form-group">
  <%= f.label :Zip %><br/>
  <%= f.text_field :zip, class: 'form-control' %>
</div>
</br>
<div class="actions">
  <%= f.submit "Create Neighborhood" %>
</div>
<% end %>
